@import url("cabecalho.css");
@import url("atividade.css");
@import url("lista.css");

:root {
    --azul-bebe: #6688FF;
    --verde-ativo: #2CBE82;
    --vermelho-excluir: #DA2B40;
    --cor-branca: #fff;
    --fonte-padrao: 'Poppins', sans-serif;
    --fonte-secundaria: 'Nunito', sans-serif;
    --segunda: #FFA246;
    --segundaHr: #ffa346a1;
    --terca: #35E185;
    --tercaHr: #35e185a8;
    --quarta: #6688FF;
    --quartaHr: #6687ffa6;
    --quinta: #B266FF;
    --quintaHr: #b366ffa1;
    --sexta: #66D1FF;
    --sextaHr: #66d1ff99;
    --sabado: #FF66D4;
    --sabadoHr: #ff66d49a;
    --domingo: #FF6666;
    --domingoHr: #ff66669a;
    --atividade-fundo: linear-gradient(112.83deg, rgba(255, 255, 255, 0.3444) 0%, rgba(255, 255, 255, 0.336) 110.84%);
    --scrollbar: #DCDFE3;
    --botao-apagar: #98031E;

}

body {
    font-family: var(--fonte-padrao);
    overflow: hidden;

    /* background: url("../assets/bola-LogoCompasso.svg") no-repeat bottom right; */
}

::-webkit-scrollbar {
    box-shadow: 0px 4px 24px rgba(66, 63, 63, 0.272);
    width: 10px;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 14px;
}
